@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variaveis */

/*-- cores -- */
:root {
    --purple-primary: #3D113A;
    --purple-secundary: #A32D9B;

    --green-primary: #79963D;

    --gray-green: #191F0D;
}


/*------------------------------*/

html {
    font-family: "Lato", sans-serif;
}

/*Estilo dos Textos*/

/*-- Titulos --*/
.title-1 {
    @apply text-[34px] font-black text-black;
}

.title-1-big {
    @apply text-[60px] font-black text-black
}

.title-1-white{
    @apply text-[34px] font-black text-white
}

.title-2 {
    @apply text-[38px] font-extrabold text-black; 
}

.title-3 {
    @apply text-[20px] font-black text-black;
}

/*Subtitulos*/
.subtitle-1 {
    @apply text-base text-white font-semibold
}

/*-- Textos -- */
.text-1 {
    @apply text-[20px] text-black;
}

.text-2 {
    @apply text-base font-semibold text-black;
}

.text-2-normal {
     @apply text-base text-black;
}

.text-2-small {
    @apply text-sm;
}

.text-3 {
    @apply font-semibold text-[16px];
    color: var(--purple-primary);
}

.text-4{
    @apply text-white;
}

.text-4-small {
    @apply text-sm text-white;
}

.span-1 {
    @apply text-[70px] font-extrabold text-white
}

/*-------------------------------------------------------*/

/*Estilo dos Botões*/

.btn-1, 
.btn-login, 
.btn-signin {
    @apply py-[12px] px-[24px] text-white shadow-sm 
    hover:bg-transparent hover:text-[var(--purple-primary)]
    transition-all duration-300 ease-in-out cursor-pointer;
    border-radius: 12px;
    border: 2px solid var(--purple-primary);
    background-color: var(--purple-primary);
}

.btn-1 {
    @apply font-bold
}

.btn-login {
    @apply uppercase font-black
}

.btn-signin {
    @apply bg-transparent shadow-none;
    border: 2px solid transparent;
}

.btn-signin:hover {
    border: 2px solid var(--purple-primary);
    color: var(--purple-primary);
}