@import './base.css';

html {
    scroll-behavior: auto;
}

.body {
    @apply bg-white;
    overflow-x: hidden;
}

.container {
    @apply max-w-[1440px] w-full mx-auto px-[30px];
}

.section {
    @apply mt-[48px] mb-[38px] mx-auto;
}

.section__title {
    @apply mx-auto text-center max-w-[45%] mb-[2rem]; 
}

/*Cards*/

.cards__list {
    @apply flex items-center;
}

.card {
    @apply px-[38px] py-[28px] pt-[28px] shadow-lg flex flex-col gap-2 justify-center;
    border-radius: 50px;
}

.animated,
.animated-left,
.animated-right,
.section__title,
.paragraph,
.card,
.arrow {
    visibility: hidden;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1 !important;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: var(--purple-secundary) !important;
}

@media screen and (max-width: 767px) {
    .container {
        @apply px-2;
    }
}
